*{
    margin: 0;
    padding: 0;
}

/* navbar */

nav .logo img{
  width: 7rem;
  margin-left: -2.5rem !important;
  margin-right: -1.5rem !important;
}
.navbar{
 background-color: #01779b !important ;
}
.nav-name{
  color: #fff;
}
.nav-name:hover{
 color:#9d9595 !important;
}
.list{
  background-color: #026f90 ;
}
.list-item{
  color: #fff;
}

.nav button{
  background-color: #fff;
}
  
  .navbar-toggler span {
    width: 20px;
    display: block;
    height: 2.5px;
    background-color: #ffffff;
    margin-bottom: 4px;
    transition: all .5s;
    -webkit-transition: all .5s;
  }
.nav-item a{
  color: #ffffff !important;
}

.logo-name:hover{
  color: #ffffff !important;
}

nav .nav-item .dropdown-list {
  position: absolute;
  width:195px;
  padding: 0px;
  top:65%;
  left: 80%;
  background-color: #fff;
  transform: scale(.7);
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  -ms-transform: scale(.7);
  -o-transform: scale(.7);
  visibility: hidden;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  text-align: end;
}

nav .nav-item:hover .dropdown-list {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  visibility: visible;
}

nav .nav-item .dropdown-list .list-link {
  color: #01779B !important;
  line-height: 1.7;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;

}

nav .nav-item .dropdown-list .list-link:hover {
  letter-spacing: .7px;
}
.dropdown-list ul{
  list-style: none;
  padding: 2px 10px;
 
 }
.dropdown-list a{
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  nav .navbar-nav .nav-item .dropdown-list {
    position: unset;
    filter: none;
    transform: scale(1);
    width: 7rem;
    padding: 10px 5px;
    display: none;
    transition: all 3s;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
}

nav .navbar-nav .nav-item:hover .dropdown-list {
    display: inline-block;
    width: 7rem;

}
}

.header{
    background-color: #01779B;
    color: rgb(255, 255, 255);
    height: 70vh;
    font-size: 1.3rem;
   
}
.header h1{
    padding-top:3.9rem;
    font-size: 4rem;
}

  .header p{
    font-size: 1.2rem;
  }
.service{
    background: #cbd8d8;
    text-align: center;
    color: #01779B;
}
.service-cap{ 
  padding-left:28px !important;
}
.service-cap p{
  font-size: 1.2rem;
}

.service-photo{
    background-color: #4FA0C4;
    border-radius: 50% 0% 0% 50%;
}
.service h1{
    margin-top: 5rem;
}

     /* part3 */

     #owl-demo .item {
        background: #cbd8d8;
        padding: 30px 0px;
        margin: 10px;
        color: #FFF;
        border-radius: 3px;
        text-align: center;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
    
    .owl-nav {
        text-align: center;
        font-size: xx-large;
    }
    
    .slider-services {
        background-color: #01779B !important;
    }
    
    .slider-services h3 {
        text-align: center;
        color: #FFF;
        font-weight: 500;
    }       

              /* footer */
              .footer{
                background-color:#01779B ;
                color: #FFF ;
                font-size: 1.2rem;
                margin-bottom: 0 !important;
                padding-bottom: 0 !important;
              }
              .footer a{
                color: #FFF;
                text-decoration: none;
              }
              .footer i,h6{
                display: inline;
                font-size: 1.20.rem;
              }
              .footer-services{
               margin-top: 2.5rem !important;
                padding-bottom: 0rem !important;
              }
              .footer-contact{
            
                text-align: center;
                margin-top: 2.5rem !important;
 
              }
              .footer-services h6{
                border-bottom:.5px #dfd7d76b solid ;
                display: block;
                padding-bottom: .7rem;
              }
              .h6services{
                border-bottom:0px #dfd7d76b solid !important;
                display: block;
                padding-bottom: 0rem !important;
              }
           
            .copyright{
              font-size: .9rem;
              padding-bottom: .5rem;
            }
              @media only screen and (max-width: 768px){
                .footer-logo{
                    padding: 0rem !important ;
                    margin-top: 5.5rem !important ;
                   
                }
              
                 .footer i,
                 .footer h6,
                 .footer h3{
                    font-size: .9rem;
                }
             
              }

              p{
                font-size: .9rem;
              }